*.class

# Package Files #
*.jar
*.war
*.ear

# Scons build database #
*sconsign*
*.pyc

# Build directory #
/build
/src/org/lsfn/common/STS.java
/src/org/lsfn/console_pc/generic_display/ScreenFile.java
/src/org/lsfn/common/ShipDesignFile.java
