*.class

# Package Files #
*.jar
*.war
*.ear

# Scons build database #
*sconsign*
*.pyc

# Build directory #
/build
/src/org/lsfn/console_pc/STS.java
/src/org/lsfn/console_pc/screen_management/ScreenFile.java